# Virtual environment
venv/
env/
.venv/
ENV/

# Python cache files
__pycache__/
*.py[cod]
*$py.class

# Local configuration file
.env

# SQLite database files
*.db
*.sqlite3

# Logs
*.log

# IDE-specific files
.vscode/
.idea/

# Operating system files
.DS_Store
Thumbs.db